.grid {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.grid td, .grid th {
    border: 1px solid #ddd;
    padding: 8px;
}

.grid tr:nth-child(even){background-color: #f2f2f2;}

.grid tr:hover {background-color: #ddd;}

.grid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*background-color: rgb(12,162,227);;*/
    background-color: rgb(150,156,156);
    color: white;
}

.grid .action-btn {
    margin-right: 6px;
}

.grid tfoot {
    padding-top: 6px;
}

.grid tfoot td {
    padding: 2px;
}