.category-actions {
    display: flex;
    flex-direction: row;
}

.category-actions .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.category-actions .items {
    flex: 1;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


