.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pages-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-content-wrap {
    flex: 4;
    padding-left: 4px;
}

.page-actions {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 4px;
}

.page-actions .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.page .items {
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-list-wrap {
    background-color: white;
    padding: 4px;
    flex:1
}

.page-contents-wrap {
    flex: 4;
    display: flex;
    flex-direction: column;
}

