html, body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ct-sidebar {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.ct-content-wrap {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: rgb(245,245,245);
    padding: 8px;
}

.ct-header {
}

.ct-content {
    height: calc(100% - 50px);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 6px;
    /*background-color: #ffffff;*/
    /*background-color: rgb(245,245,245);*/
    /*background-color: rgb(150,156,156);*/
}

.page-content {
    background-color: #ffffff;
    height: 100%;
    padding: 6px;
}